<div class="About">
  <div class="contact">
    <img src="./Image.png" />
    <div class="contact-info">
      <div class="contact-container">
        <h1>Come and visit us</h1>
        <div class="contacts">
          <div class="phone">
            <img src="./icons/phone0.png" />

            <p>{{ phone }}</p>
          </div>
          <div class="mail">
            <img src="./icons/mail0.png" />

            <p>{{ mail }}</p>
          </div>
          <div class="location">
            <img src="./icons/location-marker.png" />

            <p>837 W. Marshall Lane Marshalltown, IA 50158, Los Angeles</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="about">
      <h1>We provide healthy food for your family.</h1>
      <p>
        Our story began with a vision to create a unique dining experience that
        merges fine dining, exceptional service, and a vibrant ambiance. Rooted
        in city's rich culinary culture, we aim to honor our local roots while
        infusing a global palate.
      </p>
      <p>
        At place, we believe that dining is not just about food, but also about
        the overall experience. Our staff, renowned for their warmth and
        dedication, strives to make every visit an unforgettable event.
      </p>
      <div class="btn"><button class="bn3">More About Us</button></div>
    </div>
  </div>
</div>
