<!-- product.component.html -->
<div class="product-page">
  <div class="product-image-section">
    <img
      [src]="product.productImage[0]"
      alt="{{ product.name }}"
      class="product-image"
    />
  </div>
  <div class="product-details-section">
    <h1 class="product-title">{{ product.productName }}</h1>
    <p class="product-description">{{ product.productCategory }}</p>
    <p class="product-price">$ {{ product.productPrice }}</p>
    <button class="add-to-cart-btn">Add to Cart</button>
  </div>
</div>
