<header>
  <div class="contact">
    <div class="phone">
      <img src="./icons/phone0.png" />

      <p>{{ phone }}</p>
    </div>
    <div class="mail">
      <img src="./icons/mail0.png" />

      <p>{{ mail }}</p>
    </div>
  </div>
  <div class="social">
    <div class="facebook">
      <a href="https://facebook.com" target="_blank">
        <img src="./icons/facebook.png" />
      </a>
    </div>
    <div class="twitter">
      <a href="https://twitter.com" target="_blank">
        <img src="./icons/twitter.png" />
      </a>
    </div>
    <div class="instagram">
      <a href="https://instagram.com" target="_blank">
        <img src="./icons/instagram.png" />
      </a>
    </div>
    <div class="github">
      <a href="https://github.com" target="_blank">
        <img src="./icons/github.png" />
      </a>
    </div>
  </div>
</header>
