<div class="about-us">
  <div class="about-us__image">
    <img src="assets/images/About.png" alt="Delicious Wraps" />
  </div>

  <div class="about-us__content">
    <h1>We provide healthy food for your family.</h1>
    <p>
      Our story began with a vision to create a unique dining experience that
      merges fine dining, exceptional service, and a vibrant ambiance. Rooted in
      the city's rich culinary culture, we aim to honor our local roots while
      infusing a global palate.
    </p>
    <p>
      At our place, we believe that dining is not just about food, but also
      about the overall experience. Our staff, renowned for their warmth and
      dedication, strives to make every visit an unforgettable event.
    </p>
    <button class="btn">More About Us</button>
  </div>

  <div class="about-us__contact">
    <h3>Come and visit us</h3>
    <p>
      <i class="fas fa-phone"></i> (414) 857 - 0107 <br />
      <i class="fas fa-envelope"></i> {{ email }} <br />
      <i class="fas fa-map-marker-alt"></i> 837 W. Marshall Lane Marshalltown,
      IA 50158, Los Angeles
    </p>
  </div>
</div>
