<footer>
  <div class="content">
    <div class="first-part">
      <div class="logo">
        <img
          class="foodLogo"
          src="./images/japanese-food.png"
          alt=""
          srcset=""
        />
        <h4>Bistro Bliss</h4>
      </div>
      <p>
        In the new era of technology we look a in the future with certainty and
        pride to for our company and.
      </p>
      <div class="links">
        <div class="facebook">
          <a href="https://facebook.com" target="_blank">
            <img src="./icons/facebook.png" />
          </a>
        </div>
        <div class="twitter">
          <a href="https://twitter.com" target="_blank">
            <img src="./icons/twitter.png" />
          </a>
        </div>
        <div class="instagram">
          <a href="https://instagram.com" target="_blank">
            <img src="./icons/instagram.png" />
          </a>
        </div>
        <div class="github">
          <a href="https://github.com" target="_blank">
            <img src="./icons/github.png" />
          </a>
        </div>
      </div>
    </div>

    <div class="second-part">
      <header>Pages</header>
      <br />
      <a class="pages-links" href="">Home</a>
      <a class="pages-links" href="">About</a>
      <a class="pages-links" href="/menu">Menu</a>
      <a class="pages-links" href="">Pricing</a>
      <a class="pages-links" href="">Blog</a>
      <a class="pages-links" href="/contact">Contact</a>
      <a class="pages-links" href="">Delivery</a>
    </div>

    <div class="third-part">
      <header>Utility Pages</header>
      <br />
      <a class="pages-links" href="">Start Here</a>
      <a class="pages-links" href="">Styleguide</a>
      <a class="pages-links" href="">Password Proteccted</a>
      <a class="pages-links" href="">404 Not Found</a>
      <a class="pages-links" href="">Licenses</a>
      <a class="pages-links" href="">Changelog</a>
      <a class="pages-links" href="">View More</a>
    </div>

    <div class="fourth-part">
      <h2>Follow Us On Instagram</h2>
      <div class="ig-imgs">
        <img
          class="img"
          src="./footer/Mask group.png"
          alt="Description of Image 1"
        />
        <img
          class="img"
          src="./footer/Mask group (1).png"
          alt="Description of Image 2"
        />
        <img
          class="img"
          src="./footer/Mask group (2).png"
          alt="Description of Image 3"
        />
        <img
          class="img"
          src="./footer/Mask group (3).png"
          alt="Description of Image 4"
        />
      </div>
    </div>
  </div>
  <div class="final">
    <hr />
    <p style="width: fit-content">
      Copyright © 2024 Abdelrahman Alam-Elden. All Rights Reserved
    </p>
  </div>
</footer>
